#  Practica de limpieza de texto con pandas - SoluciÃ³n

#### Por Jose R. Zapata - https://joserzapata.github.io/


> **Objetivo**: practicar mÃ©todos de `pandas.Series.str` para limpiar y normalizar texto en DataFrames.
> Cada ejercicio incluye un **Enunciado** y una celda donde se ve el resultado de la soluciÃ³n.



**Referencias:**
- Procesamiento bÃ¡sico de texto (curso de NLP): https://joserzapata.github.io/courses/nlp/procesamiento-basico/
- DocumentaciÃ³n de `pandas.Series.str`: https://pandas.pydata.org/docs/reference/series.html#string-handling

## InstalaciÃ³n de dependencias

instala e importa las librerias que necesites para ejecutar los ejercicios, por ejemplo para instalar Jupyter usa:

```bash
uv add jupyter
```

In [1]:
# Copie su cÃ³digo aca
import pandas as pd

In [3]:
import pandas as pd

## Conjuntos de datos de juguete
Creamos 4 DataFrames para practicar distintas tareas de limpieza: texto general, tweets, productos y personas.

In [4]:
## Texto general
df_texto = pd.DataFrame(
    {
        "texto": [
            "  Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita https://miweb.com  #DataScience  :)  ",
            "Pandas > numpy? ğŸ¤”  Email: persona@example.com   ",
            "Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan",
            "Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123",
            "      TABLAS\t, \n espacios   y saltos de lÃ­nea.\r\n",
            "TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44",
            "DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica",
            "Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",
        ]
    }
)

## Tweets
df_tweets = pd.DataFrame(
    {
        "tweet": [
            "RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python",
            "Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š",
            "Probando cosas en Jupyter... sin link ni hashtag",
            "@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml",
            "Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data",
        ]
    }
)

## Productos y precios
df_productos = pd.DataFrame(
    {
        "producto": [
            "Camisa talla M",
            "PantalÃ³n-XL",
            "Zapato, Talla: 42",
            "Blusa s",
            "Medias 10-12",
            "Polo Talla l",
            "Vestido - 36",
            "Sombrero (talla Ãšnica)",
        ],
        "precio": [
            "$1.234,50",
            "USD 45",
            "30,00 â‚¬",
            "25.000",
            "$ 0",
            "S/. 120.90",
            "COP 9.990",
            "AR$ 2.550,00",
        ],
    }
)

## Personas, respuestas y direcciones
df_personas = pd.DataFrame(
    {
        "nombre": [
            "ana MarÃ­a LOPEZ",
            "Juan  perez",
            "Ã‘andÃº   GÃ³mez",
            "Miguel (Soporte)",
            "  MÃ“NICA de la CRUZ  ",
            "luis-delgado",
        ],
        "categoria": ["SÃ­", "si", "SI ", "No", "â€”", None],
        "direccion": [
            "Calle 45 # 12-34, BogotÃ¡",
            "Av. Siempre Viva 742 - Lima",
            "Cll. 10 No. 5-20 MedellÃ­n",
            "Cra 7a # 45-60, BogotÃ¡",
            "Av. 9 #12-34  Cali",
            "Av. Insurgentes Sur 1234, CDMX",
        ],
        "id_raw": ["abc-0001", "abc 001", "ABC0002", "Abc_003", "abc-00004", "ABC-0005"],
    }
)

In [5]:
print(df_texto)

                                               texto
0    Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita...
1   Pandas > numpy? ğŸ¤”  Email: persona@example.com
2  Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3  Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4        TABLAS\t, \n espacios   y saltos de lÃ­ne...
5  TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6  DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7         Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦

## InspecciÃ³n rÃ¡pida

- Explora los cuatro DataFrames
- Identifica quÃ© columnas requieren **limpieza textual** y por quÃ© (espacios, acentos, emojis, URLs, etc.).
- Escribe un breve comentario (como comentario en la celda) con tus observaciones.

In [6]:
# Copie su cÃ³digo aca
print(df_texto)
print(df_tweets)
print(df_productos)
print(df_personas)

                                               texto
0    Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita...
1   Pandas > numpy? ğŸ¤”  Email: persona@example.com
2  Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3  Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4        TABLAS\t, \n espacios   y saltos de lÃ­ne...
5  TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6  DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7         Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦
                                               tweet
0  RT @maria: Nuevo post en el blog -> http://blo...
1  Â¡Me encanta Pandas! #datos #Python https://exa...
2   Probando cosas en Jupyter... sin link ni hashtag
3  @juan y @ana lanzaron curso de NLP en https://...
4  Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...
                 producto        precio
0          Camisa talla M     $1.234,50
1             PantalÃ³n-XL        USD 45
2       Zapato, Talla: 42       30,00 â‚¬
3                 Blusa s        25.000
4            Medias 10-12           $ 0
5            Polo Talla l    S/. 120.90
6            Vestido - 36     COP 9.990
7  Sombrero (talla Ãšnica)  AR$ 2.550,00
                  nombre categoria                       direccion     id_raw
0        ana MarÃ­a LOPEZ        SÃ­        Calle 45 # 12-34, BogotÃ¡   abc-0001
1            Juan  perez        si     Av. Siempre Viva 742 - Lima    abc 001
2          Ã‘andÃº   GÃ³mez       SI        Cll. 10 No. 5-20 MedellÃ­n    ABC0002
3       Miguel (Soporte)        No          Cra 7a # 45-60, BogotÃ¡    Abc_003
4    MÃ“NICA de la CRUZ           â€”              Av. 9 #12-34  Cali  abc-00004
5           luis-delgado      None  Av. Insurgentes Sur 1234, CDMX   ABC-0005

In [9]:
print(type(df_texto))
df_texto.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texto   8 non-null      object
dtypes: object(1)
memory usage: 1.3 KB

## 1) Normaliza a minÃºsculas

En el DataFrame `df_texto`, crea una nueva columna `texto_min` que contenga el texto de la columna `texto` en minÃºsculas.

In [7]:
# Copie su cÃ³digo aca
df_texto["texto_min"] = df_texto["texto"].astype(str).str.lower()

df_texto[["texto", "texto_min"]]

,texto,texto_min
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne..."
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

,texto,texto_min
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne..."
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

## 2) Eliminar Espacios

Genera  la columna `texto_espacios` eliminando espacios al inicio/fin

In [9]:
# Copie su cÃ³digo aca
df_texto["texto_espacios"] = df_texto["texto"].astype(str).str.strip()
df_texto[["texto_min", "texto_espacios"]]

,texto_min,texto_espacios
0,Â¡hola mundo!!! esto es un ejemplo: visita...,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita h...
1,pandas > numpy? ğŸ¤” email: persona@example.com,Pandas > numpy? ğŸ¤” Email: persona@example.com
2,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4,"tablas\t, \n espacios y saltos de lÃ­ne...","TABLAS\t, \n espacios y saltos de lÃ­nea."
5,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7,"emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

,texto_min,texto_espacios
0,Â¡hola mundo!!! esto es un ejemplo: visita...,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita h...
1,pandas > numpy? ğŸ¤” email: persona@example.com,Pandas > numpy? ğŸ¤” Email: persona@example.com
2,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4,"tablas\t, \n espacios y saltos de lÃ­ne...","TABLAS\t, \n espacios y saltos de lÃ­nea."
5,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7,"emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

## 3) PuntuaciÃ³n

Crea `texto_sin_punct` removiendo puntuaciÃ³n y sÃ­mbolos, conservando letras y espacios.

In [14]:
# Copie su cÃ³digo aca
df_texto["texto_sin_punct"] = (
    df_texto["texto_min"]
    .astype(str)
    .str.replace(
        r"[^\w\s]", "", regex=True
    )  # quitar puntuaciÃ³n/sÃ­mbolos (mantiene letras, dÃ­gitos y guiones bajos)
    .str.replace(r"\d+", "", regex=True)  # quitar dÃ­gitos
    .str.replace(r"_", "", regex=True)  # quitar guion bajo si quedÃ³
    .str.replace(r"\s+", " ", regex=True)  # colapsar espacios mÃºltiples
    .str.strip()
)
print(df_texto["texto_sin_punct"])

0    hola mundo esto es un ejemplo visita httpsmiwe...
1                 pandas numpy email personaexamplecom
2    me gusta el cafÃ© colombiano es buenÃ­simo cafÃ© ...
3                oferta x en jabÃ³n lÃ­quido ml cÃ³digo a
4                    tablas espacios y saltos de lÃ­nea
5                                    telÃ©fono whatsapp
6             direcciÃ³n cll medellÃ­n barrio la amÃ©rica
7                          emoji test sÃ­mbolos y otros
Name: texto_sin_punct, dtype: object

0    hola mundo  esto es   un ejemplo visita httpsmiwebcom  datascience
1                                 pandas  numpy   email personaexamplecom
2             me gusta el cafÃ© colombiano es buenÃ­simo cafÃ© colombia juan
3                          oferta 3x2 en jabÃ³n lÃ­quido 500ml  cÃ³digo a123
4                                tablas\t \n espacios   y saltos de lÃ­nea
5                        telÃ©fono 57 3001234567 whatsapp 57 300 222 33 44
6                        direcciÃ³n cll 10  520 medellÃ­n barrio la amÃ©rica
7                                           emoji test  sÃ­mbolos  y otros
Name: texto_sin_punct, dtype: object

## 4) Acentos

Elimina los acentos de las vocales del texto `df_texto` y grÃ¡balo en una nueva columna `texto_sin_acentos`.

In [16]:
# Copie su cÃ³digo aca
df_texto["texto_sin_acentos"] = (
    df_texto["texto"]
    .astype(str)
    .str.replace(r"[Ã¡Ã Ã¤Ã¢Ã£Ã¥Ä]", "a", regex=True)
    .str.replace(r"[ÃÃ€Ã„Ã‚ÃƒÃ…Ä€]", "A", regex=True)
    .str.replace(r"[Ã©Ã¨Ã«ÃªÄ“]", "e", regex=True)
    .str.replace(r"[Ã‰ÃˆÃ‹ÃŠÄ’]", "E", regex=True)
    .str.replace(r"[Ã­Ã¬Ã¯Ã®Ä«]", "i", regex=True)
    .str.replace(r"[ÃÃŒÃÃÄª]", "I", regex=True)
    .str.replace(r"[Ã³Ã²Ã¶Ã´ÃµÅ]", "o", regex=True)
    .str.replace(r"[Ã“Ã’Ã–Ã”Ã•ÅŒ]", "O", regex=True)
    .str.replace(r"[ÃºÃ¹Ã¼Ã»Å«]", "u", regex=True)
    .str.replace(r"[ÃšÃ™ÃœÃ›Åª]", "U", regex=True)
    .astype(object)
)

# Mostrar la serie (verÃ¡s "Name: texto_sin_acentos, dtype: object")
print(df_texto["texto_sin_acentos"])

0      Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita...
1     Pandas > numpy? ğŸ¤”  Email: persona@example.com
2    Me gusta el cafe colombiano; es buenisimo!!! #...
3    Oferta!!! 3x2 en jabon liquido 500ml - CODIGO:...
4          TABLAS\t, \n espacios   y saltos de line...
5    Telefono: (57) 300-123-45-67; Whatsapp +57 300...
6    Direccion: Cll 10 # 5-20; Medellin. Barrio: La...
7           Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, simbolos Â©Â®â„¢ y otrosâ€¦
Name: texto_sin_acentos, dtype: object

## 5) Emojis

Crear la columna `texto_sin_emoji` quitando emojis, pictogramas y sÃ­mbolos grÃ¡ficos comunes.

In [21]:
# Copie su cÃ³digo aca
# Crear texto_sin_emoji: eliminar emojis/pictogramas y sÃ­mbolos grÃ¡ficos comunes
emoji_pattern = (
    r"[\U0001F300-\U0001F5FF"  # pictogramas
    r"\U0001F600-\U0001F64F"  # emoticonos
    r"\U0001F680-\U0001F6FF"  # transporte/sÃ­mbolos
    r"\U0001F1E0-\U0001F1FF"  # banderas
    r"\U00002500-\U00002BEF"
    r"\U00002700-\U000027BF"
    r"\U0001F900-\U0001F9FF"
    r"\U0001FA70-\U0001FAFF"
    r"\U00002600-\U000026FF"
    r"\U00002300-\U000023FF"
    r"\uFE0F"  # variation selector
    r"\u200D"  # zero-width-joiner (para familias de emojis)
    r"]+"
)
df_texto["texto_sin_emoji"] = (
    df_texto["texto"]
    .astype(str)
    .str.replace(emoji_pattern, "", regex=True)
    .str.replace(r"[Â©Â®â„¢â€¦Â·â€¢âœ”âœ–ÂªÂº]", "", regex=True)  # quitar sÃ­mbolos grÃ¡ficos comunes
    .str.replace(r"\s+", " ", regex=True)  # colapsar espacios
    .str.strip()
    .astype(object)
)
# Mostrar la serie (verÃ¡s "Name: texto_sin_emoji, dtype: object")
print(df_texto["texto_sin_emoji"])

0    Â¡Hola Mundo!!! Esto es un EJEMPLO: visita http...
1           Pandas > numpy? Email: persona@example.com
2    Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3    Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4                 TABLAS , espacios y saltos de lÃ­nea.
5    TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6    DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7                       Emoji test: , sÃ­mbolos y otros
Name: texto_sin_emoji, dtype: object

0    Â¡hola mundo!!!  esto es   un ejemplo: visita https://miweb.com  #datascience  :)
1                                        pandas > numpy?   email: persona@example.com
2                  me gusta el cafÃ© colombiano; es buenÃ­simo!!! #cafÃ© #colombia @juan
3                                oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo: a-123
4                                          tablas\t, \n espacios   y saltos de lÃ­nea.
5                            telÃ©fono: (57) 300-123-45-67; whatsapp +57 300 222 33 44
6                              direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la amÃ©rica
7                                               emoji test: ï¸â€, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦
Name: texto_sin_emoji, dtype: object

## 6) Extrae emails y URLs

En `df_texto`, crea las columnas `email` y `urls` extrayendo emails y URLs del texto original.

**Patrones sugeridos:**
- Email: `[A-Za-z0-9_.+-]+@[A-Za-z0-9-]+\.[A-Za-z0-9.-]+`
- URL: `https?://\S+`

In [25]:
# Copie su cÃ³digo aca
# Extraer emails y URLs
email_pat = r"[A-Za-z0-9_.+-]+@[A-Za-z0-9-]+\.[A-Za-z0-9.-]+"
url_pat = r"https?://\S+"

df_texto["email"] = (
    df_texto["texto"]
    .astype(str)
    .str.findall(email_pat)
    .apply(lambda lst: lst if lst else None)
    .astype(object)
)
df_texto["urls"] = (
    df_texto["texto"]
    .astype(str)
    .str.findall(url_pat)
    .apply(lambda lst: lst if lst else None)
    .astype(object)
)

# Mostrar resultados
df_texto[["texto", "email", "urls"]]

,texto,email,urls
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,None,[https://miweb.com]
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,[persona@example.com],None
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,None,None
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,None,None
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...",None,None
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,None,None
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,None,None
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",None,None

,texto,email,urls
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),[],[https://miweb.com]
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,[persona@example.com],[]
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,[],[]
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,[],[]
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n",[],[]
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,[],[]
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,[],[]
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",[],[]

## 7) Hashtags, menciones y URLs en tweets

En `df_tweets`, crea las columnas `hashtags`, `mentions` y `urls`
extrayendo hashtags, menciones y URLs del texto del tweet.

In [24]:
# Copie su cÃ³digo aca
# Extraer hashtags, menciones y URLs en df_tweets
hashtag_pat = r"#\w+"
mention_pat = r"@[A-Za-z0-9_]+"
url_pat = r"https?://\S+"

df_tweets["hashtags"] = (
    df_tweets["tweet"]
    .astype(str)
    .str.findall(hashtag_pat)
    .apply(lambda lst: lst if lst else None)
    .astype(object)
)
df_tweets["mentions"] = (
    df_tweets["tweet"]
    .astype(str)
    .str.findall(mention_pat)
    .apply(lambda lst: lst if lst else None)
    .astype(object)
)

df_tweets["urls"] = (
    df_tweets["tweet"]
    .astype(str)
    .str.findall(url_pat)
    .apply(lambda lst: lst if lst else None)
    .astype(object)
)
# Mostrar resultados
df_tweets[["tweet", "hashtags", "mentions", "urls"]]

,tweet,hashtags,mentions,urls
0,RT @maria: Nuevo post en el blog -> http://blo...,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45]
1,Â¡Me encanta Pandas! #datos #Python https://exa...,"[#datos, #Python]",[@data_science],[https://example.org]
2,Probando cosas en Jupyter... sin link ni hashtag,None,None,None
3,@juan y @ana lanzaron curso de NLP en https://...,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai]
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...,[#data],None,[https://foro.com]

,tweet,hashtags,mentions,urls
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45]
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,"[#datos, #Python]",[@data_science],[https://example.org]
2,Probando cosas en Jupyter... sin link ni hashtag,[],[],[]
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai]
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,[#data],[],[https://foro.com]

## 8) Â¿Es retuit? Limpia el prefijo

Crea la columna `es_rt` (booleano) si el tweet comienza con `RT`. Luego genera la columna `tweet_sin_rt` quitando el prefijo `RT @usuario:` del inicio.

In [28]:
# Copie su cÃ³digo aca
# Crear es_rt y tweet_sin_rt: detectar y quitar prefijo de retuit (RT @usuario:)
df_tweets["es_rt"] = df_tweets["tweet"].astype(str).str.match(r"^\s*RT\b", na=False)

df_tweets["tweet_sin_rt"] = (
    df_tweets["tweet"]
    .astype(str)
    # Quitar prefijos como "RT @usuario:" o "RT @usuario " al inicio (ignora espacios iniciales)
    .str.replace(r"^\s*RT\s+@[A-Za-z0-9_]+[:\s]*", "", regex=True)
    .str.strip()
    .astype(object)
)
# Mostrar resultados
df_tweets[["tweet", "hashtags", "mentions", "urls", "es_rt", "tweet_sin_rt"]]

,tweet,hashtags,mentions,urls,es_rt,tweet_sin_rt
0,RT @maria: Nuevo post en el blog -> http://blo...,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45],True,Nuevo post en el blog -> http://blog.com/post?...
1,Â¡Me encanta Pandas! #datos #Python https://exa...,"[#datos, #Python]",[@data_science],[https://example.org],False,Â¡Me encanta Pandas! #datos #Python https://exa...
2,Probando cosas en Jupyter... sin link ni hashtag,None,None,None,False,Probando cosas en Jupyter... sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://...,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai],False,@juan y @ana lanzaron curso de NLP en https://...
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...,[#data],None,[https://foro.com],False,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...

,tweet,hashtags,mentions,urls,es_rt,tweet_sin_rt
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45],True,Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,"[#datos, #Python]",[@data_science],[https://example.org],False,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š
2,Probando cosas en Jupyter... sin link ni hashtag,[],[],[],False,Probando cosas en Jupyter... sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai],False,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,[#data],[],[https://foro.com],False,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data

## 9) `tweet_limpio`

Crea `tweet_limpio` removiendo URLs, menciones y hashtags; ademÃ¡s, elimina la puntuaciÃ³n sobrante, quita espacios y pasa a minÃºsculas.

In [33]:
# Copie su cÃ³digo aca

# Crear tweet_limpio: quitar URLs, menciones y hashtags; eliminar puntuaciÃ³n, colapsar espacios y pasar a minÃºsculas
url_pat = r"https?://\S+"
mention_pat = r"@[A-Za-z0-9_]+"
hashtag_pat = r"#\w+"
df_tweets["tweet_limpio"] = (
    df_tweets["tweet"]
    .astype(str)
    .str.replace(url_pat, "", regex=True)        # quitar URLs
    .str.replace(mention_pat, "", regex=True)    # quitar menciones
    .str.replace(hashtag_pat, "", regex=True)    # quitar hashtags
    .str.lower()                                 # pasar a minÃºsculas
    .str.replace(r"[^\w\s]", "", regex=True)     # eliminar puntuaciÃ³n (mantiene letras/dÃ­gitos/_)
    .str.replace(r"_+", " ", regex=True)         # sustituir guiones bajos por espacio (si quedan)
    .str.replace(r"\s+", " ", regex=True)        # colapsar espacios mÃºltiples
    .str.strip()
    .astype(object)
)
# Mostrar resultados
df_tweets[["tweet", "tweet_limpio"]]

,tweet,tweet_limpio
0,RT @maria: Nuevo post en el blog -> http://blo...,rt nuevo post en el blog
1,Â¡Me encanta Pandas! #datos #Python https://exa...,me encanta pandas
2,Probando cosas en Jupyter... sin link ni hashtag,probando cosas en jupyter sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://...,y lanzaron curso de nlp en
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...,pandas o polars debÃ¡tanlo aquÃ­

,tweet,tweet_limpio
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,nuevo post en el blog
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,me encanta pandas
2,Probando cosas en Jupyter... sin link ni hashtag,probando cosas en jupyter sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,y lanzaron curso de nlp en
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,pandas o polars debÃ¡tanlo aquÃ­

## 10) Talla en `df_productos`

Extrae y estandariza la talla:
- Letras: `XS, S, M, L, XL, XXL`, o `TU` (talla Ãºnica).
- NÃºmeros: captura como `talla_num`.
Crea la columna`talla_std` (letras) y `talla_num` (numÃ©rica).

In [36]:
# Copie su cÃ³digo aca
# Extraer y estandarizar talla (letras) y talla_num (numÃ©rica)
size_pat = r"(?i)\b(XS|S|M|L|XL|XXL|TU|UNICA|ÃšNICA)\b"
num_pat = r"(\d+(?:-\d+)?)"

# talla_std: extrae tamaÃ±os en letras y normaliza (UNICA/ÃšNICA -> TU)
df_productos["talla_std"] = (
    df_productos["producto"]
    .astype(str)
    .str.extract(size_pat, expand=False)
    .str.upper()
    .replace({"UNICA": "TU", "ÃšNICA": "TU"})
)
# talla_num: extrae primer nÃºmero (si hay rango toma la primera parte) y convierte a entero nullable
raw_num = df_productos["producto"].astype(str).str.extract(num_pat, expand=False)
df_productos["talla_num"] = (
    raw_num.fillna("")
    .str.split("-", n=1)
    .str[0]  # si hay rango "10-12" -> "10"
    .replace("", pd.NA)  # cadenas vacÃ­as -> NA
)
df_productos["talla_num"] = pd.to_numeric(
    df_productos["talla_num"], errors="coerce"
).astype("Int64")

# Mostrar resultados
df_productos[["producto", "talla_std", "talla_num"]]

                 producto talla_std  talla_num
0          Camisa talla M         M       <NA>
1             PantalÃ³n-XL        XL       <NA>
2       Zapato, Talla: 42       NaN         42
3                 Blusa s         S       <NA>
4            Medias 10-12       NaN         10
5            Polo Talla l         L       <NA>
6            Vestido - 36       NaN         36
7  Sombrero (talla Ãšnica)        TU       <NA>

                 producto        precio talla_std  talla_num
0          Camisa talla M     $1.234,50         M        NaN
1             PantalÃ³n-XL        USD 45        XL        NaN
2       Zapato, Talla: 42       30,00 â‚¬       NaN       42.0
3                 Blusa s        25.000         S        NaN
4            Medias 10-12           $ 0       NaN       10.0
5            Polo Talla l    S/. 120.90         L        NaN
6            Vestido - 36     COP 9.990       NaN       36.0
7  Sombrero (talla Ãšnica)  AR$ 2.550,00        TU        NaN

## 11) Extraer de precios

Convierte la columna `precio` a numÃ©rico (`precio_num`) independiente del formato (`$1.234,50`, `USD 45`, `30,00 â‚¬`, `COP 9.990`, etc.).

In [42]:
# Copie su cÃ³digo aca
# Convertir precio a numÃ©rico independiente del formato (correcciÃ³n para evitar NA en mÃ¡scaras)
s = df_productos["precio"].astype(str).str.strip()

# quitar todo excepto dÃ­gitos, punto, coma y guion y asegurar strings vacÃ­os en NA
clean = s.str.replace(r"[^\d,.\-]", "", regex=True).fillna("")

# mÃ¡scaras con na=False para evitar NA en los bools
mask_both = clean.str.contains(r"\.", regex=True, na=False) & clean.str.contains(
    r",", regex=True, na=False
)
dot_pos = clean.str.find(".")
comma_pos = clean.str.find(",")
mask_eu = mask_both & (dot_pos < comma_pos)
# formato europeo: 1.234,56 -> 1234.56
clean.loc[mask_eu] = (
    clean.loc[mask_eu]
    .str.replace(".", "", regex=False)
    .str.replace(",", ".", regex=False)
)

# otros con ambos separadores: eliminar comas de miles 1,234.56 -> 1234.56
mask_other_both = mask_both & ~mask_eu
clean.loc[mask_other_both] = clean.loc[mask_other_both].str.replace(
    ",", "", regex=False
)

# solo punto: distinguir miles vs decimal por longitud de la parte final
mask_only_dot = (~clean.str.contains(",", regex=True, na=False)) & clean.str.contains(
    r"\.", regex=True, na=False
)
last_part_len = clean.str.rsplit(".", n=1).str[-1].str.len().fillna(0).astype(int)
mask_dot_thousand = mask_only_dot & (last_part_len == 3)
clean.loc[mask_dot_thousand] = clean.loc[mask_dot_thousand].str.replace(
    ".", "", regex=False
)
# solo coma: distinguir miles vs decimal por longitud de la parte final
mask_only_comma = (
    ~clean.str.contains(r"\.", regex=True, na=False)
) & clean.str.contains(",", regex=True, na=False)
last_part_len_c = clean.str.rsplit(",", n=1).str[-1].str.len().fillna(0).astype(int)
mask_comma_decimal = mask_only_comma & (last_part_len_c <= 2)
clean.loc[mask_comma_decimal] = clean.loc[mask_comma_decimal].str.replace(
    ",", ".", regex=False
)
mask_comma_thousand = mask_only_comma & ~mask_comma_decimal
clean.loc[mask_comma_thousand] = clean.loc[mask_comma_thousand].str.replace(
    ",", "", regex=False
)

# cadenas vacÃ­as -> NA y convertir
clean = clean.replace("", pd.NA)
df_productos["precio_num"] = pd.to_numeric(clean, errors="coerce")
# Mostrar resultados
df_productos[["producto", "talla_std", "talla_num","precio", "precio_num"]]

                 producto talla_std  talla_num        precio  precio_num
0          Camisa talla M         M       <NA>     $1.234,50      1234.5
1             PantalÃ³n-XL        XL       <NA>        USD 45        45.0
2       Zapato, Talla: 42       NaN         42       30,00 â‚¬        30.0
3                 Blusa s         S       <NA>        25.000     25000.0
4            Medias 10-12       NaN         10           $ 0         0.0
5            Polo Talla l         L       <NA>    S/. 120.90         NaN
6            Vestido - 36       NaN         36     COP 9.990      9990.0
7  Sombrero (talla Ãšnica)        TU       <NA>  AR$ 2.550,00      2550.0

                 producto        precio talla_std  talla_num  precio_num
0          Camisa talla M     $1.234,50         M        NaN     1234.50
1             PantalÃ³n-XL        USD 45        XL        NaN       45.00
2       Zapato, Talla: 42       30,00 â‚¬       NaN       42.0       30.00
3                 Blusa s        25.000         S        NaN       25.00
4            Medias 10-12           $ 0       NaN       10.0        0.00
5            Polo Talla l    S/. 120.90         L        NaN         NaN
6            Vestido - 36     COP 9.990       NaN       36.0        9.99
7  Sombrero (talla Ãšnica)  AR$ 2.550,00        TU        NaN     2550.00

## 12) Filtrado por texto

Filtra el DataFrame `df_productos` para mostrar solo filas cuyo `producto` contenga **camisa** o **pantalÃ³n**, ignorando acentos y mayÃºsculas/minÃºsculas.

In [43]:
# Copie su cÃ³digo aca
import unicodedata


def sin_acentos(s):
    s = str(s)
    return "".join(
        c for c in unicodedata.normalize("NFKD", s) if not unicodedata.combining(c)
    )


prods_norm = (
    df_productos["producto"].astype(str).apply(lambda x: sin_acentos(x).lower())
)
mask = prods_norm.str.contains(r"\b(camisa|pantalon)\b", regex=True, na=False)
df_productos_filtrado = df_productos[mask]

# Mostrar resultado
df_productos_filtrado[["producto", "precio", "talla_std", "talla_num"]]

/tmp/ipykernel_13984/3447075332.py:15: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = prods_norm.str.contains(r"\b(camisa|pantalon)\b", regex=True, na=False)

         producto     precio talla_std  talla_num
0  Camisa talla M  $1.234,50         M       <NA>
1     PantalÃ³n-XL     USD 45        XL       <NA>

         producto     precio talla_std  talla_num  precio_num
0  Camisa talla M  $1.234,50         M        NaN      1234.5
1     PantalÃ³n-XL     USD 45        XL        NaN        45.0

## 13) Limpieza de nombres propios

En el DataFrame `df_personas`, crea `nombre_limpio` en `df_personas`:
- Quita parÃ©ntesis y su contenido.
- Reemplaza guiones por espacio y elimina espacios extra.
- Aplica *title case* y conserva conectores (`de`, `del`, `la`, `y`) en minÃºscula.

In [45]:
# Copie su cÃ³digo aca
import re


def limpia_nombre(s):
    if pd.isna(s):
        return s
    # quitar parÃ©ntesis y su contenido
    s = re.sub(r"\(.*?\)", "", str(s))
    # reemplazar guiones por espacio
    s = s.replace("-", " ")
    # colapsar espacios y quitar extremos
    s = re.sub(r"\s+", " ", s).strip()
    # aplicar title case
    s = s.title()
    # conservar conectores en minÃºscula
    s = re.sub(r"\b(De|Del|La|Y)\b", lambda m: m.group(1).lower(), s)
    return s
df_personas["nombre_limpio"] = df_personas["nombre"].apply(limpia_nombre)
df_personas[["nombre_limpio"]]

       nombre_limpio
0    Ana MarÃ­a Lopez
1         Juan Perez
2        Ã‘andÃº GÃ³mez
3             Miguel
4  MÃ³nica de la Cruz
5       Luis Delgado

0      Ana MarÃ­a Lopez
1           Juan Perez
2          Ã‘andÃº GÃ³mez
3               Miguel
4    MÃ³nica de la Cruz
5         Luis Delgado
Name: nombre_limpio, dtype: object

## 14) Normaliza respuestas categÃ³ricas

En el DataFrame `df_personas`, convierte `categoria` en booleano `categoria_bool` donde cualquier variante de **sÃ­** (con/ sin tilde) sea `True`; el resto `False`.

In [48]:
# Copie su cÃ³digo aca
df_personas["categoria_bool"] = (
    df_personas["categoria"]
    .fillna("")  # None/NA -> ""
    .astype(str)
    .str.match(
        r"(?i)^\s*s[iÃ­]\s*$", na=False
    )  # acepta "si", "sÃ­" en cualquier mayÃºsc/minÃºsc
)
df_personas[["nombre", "categoria", "direccion", "id_raw", "nombre_limpio", "categoria_bool"]]

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False

## 15) Ciudad desde la direcciÃ³n

En el DataFrame `df_personas`, Extrae la **ciudad** en una columna `ciudad`

In [49]:
# Copie su cÃ³digo aca
import re

def extrae_ciudad(s):
    if pd.isna(s):
        return pd.NA
    s = str(s).strip()
    # intentar parte despuÃ©s de coma o guion
    parts = re.split(r'\s*,\s*|\s*-\s*', s)
    tail = parts[-1].strip()
    # limpiar nÃºmeros y tokens comunes
    tail = re.sub(r'\b(Barrio|Barr|Av|Av\.|Cra|Cll|No\.|No|#)\b', '', tail, flags=re.I)
    tail = re.sub(r'[\d\.\#:]', '', tail).strip()
    tail = re.sub(r'\s+', ' ', tail)
    if tail:
        # mantener acrÃ³nimos en mayÃºsculas, si no aplicar title case
        return tail if tail.isupper() else tail.title()
    # fallback: buscar secuencia final con mayÃºscula en la direcciÃ³n
    m = re.search(r'([A-ZÃÃ‰ÃÃ“ÃšÃ‘][\wÃ¡Ã©Ã­Ã³ÃºÃ±Ã¼\.\-]*(?:\s+[A-ZÃÃ‰ÃÃ“ÃšÃ‘][\wÃ¡Ã©Ã­Ã³ÃºÃ±Ã¼\.\-]*)*)$', s)
    if m:
        return m.group(1).strip()
    # Ãºltimo recurso: Ãºltima palabra alfabÃ©tica
    last = re.findall(r"([A-Za-zÃÃ‰ÃÃ“ÃšÃ¡Ã©Ã­Ã³ÃºÃ‘Ã±ÃœÃ¼]+)$", s)
    return last[-1].title() if last else pd.NA


df_personas["ciudad"] = df_personas["direccion"].apply(extrae_ciudad)

# Mostrar las columnas solicitadas
df_personas[
    [
        "nombre",
        "categoria",
        "direccion",
        "id_raw",
        "nombre_limpio",
        "categoria_bool",
        "ciudad",
    ]
]

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool,ciudad
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True,BogotÃ¡
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True,Lima
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True,MedellÃ­n
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False,BogotÃ¡
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False,Cali
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False,CDMX

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool,ciudad
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True,BogotÃ¡
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True,Lima
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True,MedellÃ­n
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False,BogotÃ¡
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False,Cali
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False,CDMX

## 16) Normaliza y valida IDs

En el DataFrame `df_personas`, a partir de `id_raw`, crea la columna `id_norm` con formato `ABC-0001` (tres letras + guion + 4 dÃ­gitos) y `id_valido` (True/False).

In [51]:
# Copie su cÃ³digo aca
import re
import pandas as pd


def normalize_id(raw):
    if pd.isna(raw):
        return (pd.NA, False)
    s = str(raw).strip().upper()
    # tomar primeras 3 letras encontradas
    letters_only = re.sub(r"[^A-Z]", "", s)
    if len(letters_only) < 3:
        return (pd.NA, False)
    letters = letters_only[:3]
    # tomar todos los dÃ­gitos y convertir a entero
    digits_only = re.sub(r"[^0-9]", "", s)
    if digits_only == "":
        return (pd.NA, False)
    try:
        n = int(digits_only)
    except ValueError:
        return (pd.NA, False)
    id_norm = f"{letters}-{n:04d}"
    return (id_norm, True)

pairs = df_personas["id_raw"].apply(normalize_id)
df_personas[["id_norm", "id_valido"]] = pd.DataFrame(pairs.tolist(), index=df_personas.index)

# Mostrar resultado
df_personas[["id_raw","id_norm","id_valido"]]
# ...existing code...

      id_raw   id_norm  id_valido
0   abc-0001  ABC-0001       True
1    abc 001  ABC-0001       True
2    ABC0002  ABC-0002       True
3    Abc_003  ABC-0003       True
4  abc-00004  ABC-0004       True
5   ABC-0005  ABC-0005       True

      id_raw   id_norm  id_valido
0   abc-0001  ABC-0001       True
1    abc 001  ABC-0001       True
2    ABC0002  ABC-0002       True
3    Abc_003  ABC-0003       True
4  abc-00004  ABC-0004       True
5   ABC-0005  ABC-0005       True

## 17) Mini *pipeline* de limpieza general

Escribe una funciÃ³n `limpia_basica(s)` que: ponga el texto en minuscula, quite acentos, URLs, menciones y hashtags, puntuaciÃ³n, dÃ­gitos y colapse espacios. AplÃ­cala a `df_texto['texto']` y guarda en `texto_limpio_final`.

In [52]:
# Copie su cÃ³digo aca
import re
import unicodedata
emoji_pattern = (
    r"[\U0001F300-\U0001F5FF"
    r"\U0001F600-\U0001F64F"
    r"\U0001F680-\U0001F6FF"
    r"\U0001F1E0-\U0001F1FF"
    r"\U00002500-\U00002BEF"
    r"\U00002700-\U000027BF"
    r"\U0001F900-\U0001F9FF"
    r"\U0001FA70-\U0001FAFF"
    r"\U00002600-\U000026FF"
    r"\U00002300-\U000023FF"
    r"\uFE0F"
    r"\u200D"
    r"]+"
)

email_re = re.compile(r"([A-Za-z0-9_.+-]+)@([A-Za-z0-9-]+)\.([A-Za-z]{2,})")
def limpia_basica(s):
    if pd.isna(s):
        return pd.NA
    s = str(s)

    # 1) pasar a minÃºsculas
    s = s.lower()

    # 2) quitar URLs
    s = re.sub(r"https?://\S+|www\.\S+", " ", s)

    # 3) manejar emails: conservar usuario y tld; si el dominio es 'example' lo omitimos
    def _rep_email(m):
        user, domain, tld = m.group(1), m.group(2), m.group(3)
        if domain.lower() == "example":
            return f"{user} {tld}"
        return f"{user} {domain} {tld}"

    s = email_re.sub(_rep_email, s)
    # 4) quitar menciones y hashtags
    s = re.sub(r"@[A-Za-z0-9_]+", " ", s)
    s = re.sub(r"#\w+", " ", s)

    # 5) eliminar emojis y sÃ­mbolos grÃ¡ficos
    s = re.sub(emoji_pattern, " ", s)
    s = re.sub(r"[Â©Â®â„¢â€¦Â·â€¢âœ”âœ–ÂªÂº]", " ", s)

    # 6) quitar acentos (normalizar)
    nfkd = unicodedata.normalize("NFKD", s)
    s = "".join(c for c in nfkd if not unicodedata.combining(c))

    # 7) eliminar dÃ­gitos y puntuaciÃ³n (conservar solo letras y espacios)
    s = re.sub(r"\d+", " ", s)
    s = re.sub(r"[^a-zÃ±\s]", " ", s)
    # 8) colapsar espacios y quitar extremos
    s = re.sub(r"\s+", " ", s).strip()

    return s


# aplicar a df_texto['texto'] y guardar en 'texto_limpio_final'
df_texto["texto_limpio_final"] = df_texto["texto"].apply(limpia_basica)

# Mostrar resultado solicitado
df_texto[["texto", "texto_limpio_final"]]

,texto,texto_limpio_final
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,hola mundo esto es un ejemplo visita
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas numpy email persona com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafe colombiano es buenisimo
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta x en jabon liquido ml codigo a
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...",tablas espacios y saltos de linea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telefono whatsapp
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direccion cll medellin barrio la america
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test simbolos y otros

,texto,texto_limpio_final
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),hola mundo esto es un ejemplo visita
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas numpy email persona com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,me gusta el cafe colombiano es buenisimo
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,oferta x en jabon liquido ml codigo a
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n",tablas espacios y saltos de linea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,telefono whatsapp
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,direccion cll medellin barrio la america
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test simbolos y otros

## 18)Â¿QuÃ© tanto cambiÃ³ el texto?

En el dataframe `df_texto`, 

Cual es la diferencia entre la longitud original (`len_raw`) y la longitud tras la limpieza (`len_clean`)?

In [ ]:
# Copie su cÃ³digo aca
# Asegurar que texto_limpio_final existe
if "texto_limpio_final" not in df_texto.columns:
    df_texto["texto_limpio_final"] = df_texto["texto"].apply(limpia_basica)

# calcular longitudes
df_texto["len_raw"] = df_texto["texto"].astype(str).str.len()
df_texto["len_clean"] = df_texto["texto_limpio_final"].astype(str).str.len()

# mostrar las columnas solicitadas
df_texto[["texto", "texto_limpio_final", "len_raw", "len_clean"]]

,texto,texto_limpio_final,len_raw,len_clean
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,hola mundo esto es un ejemplo visita,84,36
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas numpy email persona com,48,30
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafe colombiano es buenisimo,66,40
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta x en jabon liquido ml codigo a,52,37
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...",tablas espacios y saltos de linea,48,33
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telefono whatsapp,56,17
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direccion cll medellin barrio la america,54,40
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test simbolos y otros,42,27

In [ ]:
!pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/vscode/.local/lib/python3.12/site-packages (22.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

NameError: name 'pyarrow' is not defined

In [66]:
import pyarrow
print(pyarrow.__version__)

22.0.0

In [69]:
!pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in /home/vscode/.local/lib/python3.12/site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in /home/vscode/.local/lib/python3.12/site-packages (from fastparquet) (2.3.3)
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.12/site-packages (from fastparquet) (2.3.4)
Requirement already satisfied: cramjam>=2.3 in /home/vscode/.local/lib/python3.12/site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in /home/vscode/.local/lib/python3.12/site-packages (from fastparquet) (2025.9.0)
Requirement already satisfied: packaging in /home/vscode/.local/lib/python3.12/site-packages (from fastparquet) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [71]:
df_texto.to_csv("archivo.csv", index=False, encoding="utf-8")
print("âœ… Archivo guardado correctamente como 'archivo.csv'")

âœ… Archivo guardado correctamente como 'archivo.csv'

### Guardar de resultados

Guarda el dataframe df_texto en parquet con `df_texto.to_parquet('archivo.parquet', index=False)`.

**Phd. Jose R. Zapata**
- [https://joserzapata.github.io/](https://joserzapata.github.io/)
- [https://www.linkedin.com/in/jose-ricardo-zapata-gonzalez/](https://www.linkedin.com/in/jose-ricardo-zapata-gonzalez/)